# VS Code
.vscode

# Distribution
scripts.exe
dist/*
!dist/
!dist/LICENSE.txt
!dist/README.txt
!dist/imgoptz.json
!dist/schema/
!dist/schema/**
!dist/profiles/
dist/profiles/*
!dist/profiles/.gitkeep
!dist/tools/
dist/tools/*
!dist/tools/.gitkeep
!dist/tools/imagemagick/
dist/tools/imagemagick/*
!dist/tools/imagemagick/.gitkeep
!dist/tools/mozjpeg/
dist/tools/mozjpeg/*
!dist/tools/mozjpeg/.gitkeep
!dist/tools/oxipng/
dist/tools/oxipng/*
!dist/tools/oxipng/.gitkeep
!dist/tools/pngquant/
dist/tools/pngquant/*
!dist/tools/pngquant/.gitkeep
