# VS Code
.vscode

# Distribution
dist/*
!dist/
!dist/LICENSE.txt
!dist/README.txt
!dist/imgoptz.json
!dist/schema/
!dist/schema/**
!dist/tools/
dist/tools/*
!dist/tools/pngquant/
dist/tools/pngquant/*
!dist/tools/pngquant/SOURCE.txt
